<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<div class="computer">
		<div class="computer-screen">
			
	    </div>
	    <div class="computer-handle">

	    </div>
	    <div class="computer-stand">
		
	    </div>
	</div>
</body>
</html>